data/LE/data
data/LE/refs
data/LE/algs
data/LPF/data
data/LPF/refs
data/LPF/algs
data/SJLJH/data
data/SJLJH/refs
data/SJLJH/algs
data/SX/data
data/SX/refs
data/SX/algs
data/SX/csvfiles/*
!data/SX/csvfiles/*.csv
groups
genome
